<nav class="nav-bar">
  <div class="nav1">
      <a href="">Browse Categories</a>
      <input type="text" id="search_book" placeholder="Search Book">
  </div>
  <h3>readbooks</h3>
  <div class="icon-about">
      <i class="material-icons"><span class="material-icons-outlined">account_circle</span></i>
      <a href="">About-Us</a>
  </div>
</nav>

<main>
  <div *ngFor="let book of books" class="books">
    <div>
      <img [src]="getImageUrl(book.imagenUrl)" alt="{{ book.titulo }}" class="book-img">
    </div>
    <div class="descp">
      <h2 class="book-name">{{ book.titulo }}</h2>
      <h3 class="author">by {{ book.autor }}</h3>
      <h3 class="rating">{{ book.stock }} in stock</h3>
      <p class="info">
        Precio: ${{ book.precio }}<br>
        Categoria: {{ book.categoria.nombre }}<br>
        Clasificación: {{ book.categoria.clasificacion }}<br>
        Formato: {{ book.categoria.formato }}<br>
        Idioma: {{ book.categoria.idioma }}<br>
        Año: {{ book.anio }}<br>
        Proveedor: {{ book.provedores.nombre }}<br>
        Tiempo de entrega: {{ book.provedores.entrega }}<br>
        Tipo: {{ book.provedores.tipo }}
      </p>
      <button type="button" (click)="addToCart(book)">Comprar este libro</button>
    </div>
  </div>
</main>
